doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/css/ui-lightness/jquery-ui-1.10.4.custom.css')
  body
    block content
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src='/javascripts/global.js'></script>
    <script src="/javascripts/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
    <script src="/javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    //script(src='/javascripts/modalicious/modalicious.js')
    //script(src='/javascripts/modalicious/example/javascripts/script.js')